<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="js/script.js"></script>
</head>
<body>
    <div>
        <h1>My name is literally Jeff.</h1>
        <nav>
            <a href="index.html">home</a>
            <a href="about.html">about</a>
            <a href="contact.html">contact</a>
        </nav>
        <img src="images/yes.jpg" alt="MYSTERY DUNGEON OH MY GOD">
    </div>
</body>
</html>